/* ================================= 
  Media Queries
==================================== */

@media screen and (min-width: 320px) {
	.main-header {


	}

}


@media screen and (min-width: 768px) {
	.main-header,
	.main-nav,
	.row {
		display: flex;
	}

	.col {
		flex: 1 33%;
	}
	.row {
		flex-wrap: wrap;
	}


}


@media (min-width: 1024px) {
	nav {

	}

}