/* ================================= 
  Media Queries
==================================== */

@media screen and (min-width: 320px) {
	



@media screen and (min-width: 768px) {

	.main-header,
	.main-nav,
	.row {
		display: flex;
		flex-wrap: wrap;

	}

	.col {
		flex: 1 50%;
	}
	.row {
		flex-wrap: wrap;
	}
	
}

@media (min-width: 1024px) {
	.main-header,
	.main-nav,
	.row {
		display: flex;
	}

	.col {
		flex: 1 33%;
	}
	.row {
		flex-wrap: wrap;
	}


}