/* ================================= 
  Media Queries
==================================== */
@media (max-width: 350px) {

	header,
	footer,
	.nav,
	.row {
		display: flex;
	}
	header{
		flex-direction: column;
		align-items: center;
	}

	.col {
		flex: 1;
	}
	.row {
		flex-wrap: wrap;
	}

}

@media (min-width: 768px) {

	header,
	footer,
	.nav,
	.row {
  		display: flex;
		justify-content: space-between;
	}
	header{
		flex-direction: column;
		align-items: center;
	}

	.col {
		flex: 1 50%;
	}
	.row {
		flex-wrap: wrap;
	}
	

}


@media (min-width: 1024px) {
	header,
	footer,
	.nav,
	.row {
  		display: flex;
  		justify-content: space-between;
	}
	header{
		flex-direction: row;
	}

	.col {
		flex: 1 33%;
	}
	.row {
		flex-wrap: wrap;
	}


}