/* ================================= 
  Base Layout Styles
==================================== */
 
  /* ---- Navigation ---- */
  .main-nav {
    font-size: 1.2rem;
  }

  ul li { 
    padding: 10px 0;
    margin: 5px 0;  
    background-color: #eef1ea;
    border-radius: 10px;
  }

  ul li,
  ol li,
  .myname,
  .main-nav,
  a {
    list-style: none;
    text-decoration: none;
    color: #1C2826;
  }

  a:hover {
    color: #529f92;
    transition: 0.4s;
  }
  .namefooter,
  .main-nav,
  .footer-nav {
    padding-left: 0;
    font-size: 1rem;
  }

  /* ---- Page Elements ---- */

  .row,
  .Einleitung,
  .main-footer
  .img-Portfolio,
  .img-Einleitung  {
    display: flex;
  }

 
  .Einleitung {
    margin: 1rem;
    flex-direction: column-reverse;
    font-size: 1.5rem;
    text-align: center;
  }

  .img-Einleitung{
    margin: 0 auto;
    width: 100%;
  }

  body {
      background-color: #e0e4d9;
      text-align: center;
      font-family: 'Montserrat', sans-serif;
  }

  .Main-title {
    Margin: 3rem 0;
    font-weight: 800;
    Text-align: center;
  }

  main {
    padding: 1rem;
    background-color: #fafcf0;
    font-size: 1.2rem;
    border-radius: 80px;
  }

  .col,
  .img-Portfolio {
    flex: 1 100%;
    flex-wrap: wrap;

  }
  .img-Portfolio {
    width: 100%;
    margin: 0 auto;
  }

  .row {
  flex-wrap: wrap;
  }

  hr {
    margin: 0 15px;
  }

  .Contact {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 1.2rem;
    Margin: 2.5rem 0;
  }

  .main-footer {
    display: flex;
    justify-content: space-around;
    align-items: center;
    font-weight: bold;
    padding: 10px 5px;
  }

  .footer-nav {
    display: none;
  }
  
  
  /* ================================= 
    Media Queries
  ==================================== */

@media (min-width: 768px) {

  .main-header,
  .main-nav,
  .footer-nav,
  .row,
  .main-footer,
  .img-Portfolio {
    display: flex;
  }

  .main-header,
  .myname {
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
  }
  .main-header{
    margin: 0 2rem;
  }

  .main-nav {
    font-weight: bold;
    font-size: 1.5rem;
  }

  ul li {
    padding: 0 0 0 1rem;
    background-color: #e0e4d9;
  }
  
  .Einleitung {
    flex: 1 50%;
    flex-direction: row;
    text-align: left;
    margin: 2rem;
  }

  .img-Einleitung {
    width: 100%;
    padding: 0 0 0 1rem;
  }

  .Main-title {
    Text-align: center;
    Margin: 0 0 3rem 0;
  }

  .col,
  .img-Portfolio {
    flex: 1 50%;
    flex-wrap: wrap;
    }
  .img-Portfolio {
    width: 90%;
  }

  .row {
  flex-wrap: wrap;
  }

  .Contact {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  hr {
    margin: 0 2rem;
  }

  .main-footer {
    flex-direction: row;
    justify-content: space-between;
    margin: 0 2rem;
    padding: 0;
  }

  .footer-two {
    display: none;
  }

  .footer-nav,
  .namefooter {
    font-size: 1rem;
  }
}
/* ============================================== */

@media (min-width: 1024px) {

  .main-header,
  .main-nav,
  .footer-nav,
  .row,
  .Einleitung,
  .main-footer,
  .img-Portfolio {
    display: flex;
  }
  .main-header,
  .myname,
  .main-footer {
    flex-direction: row;
    align-items: center;
    justify-content: center;
  }
  
  .main-header {
    justify-content: space-between;
  }

  /* main {
    margin: 0 1rem;
  } */
  
  .Main-title {
    Margin: 10vh 0;
  }
  
  .col,
  .img-Portfolio {
    flex: 1 33%;
    flex-wrap: wrap;
  }

  .main-footer {
    flex-direction: row;
    justify-content: space-between;
  }

  .footer-nav,
  .namefooter {
    font-size: 1rem;
  }
  }
